<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
    Thanks for buying from Jungle <%= @user.first_name %> <%= @user.last_name %> 
    </h1>
    <p>
    You have successfully placed an order with jungle.ca.
    </p>
      Your order includes: <% @order.line_items.each do |line_item| %>
      <ul>
          <%= render 'item', item: line_item %>
      </ul>
      <% end %>
    <p>
    Order total: <%= @order.total_cents / 100.00 %>
    </p>
    <p>Thanks for shopping at jungle.ca.
    <br> 
    Have a great day!</p>
  </body>
</html>
